#Environment
envValheimWebsite/

# Node
node_modules/
dist/

# Backend
backend/node_modules/
backend/.env

# Angular
frontend/node_modules/
frontend/dist/

# IDEs
*.log
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db